.user tag-input-form{
    display:none;
}
.ng2-dropdown-menu{
    z-index:1008!important;
    //width: 260px!important;
}
.ng2-tag-input{
    border:none!important;
}
.ng2-tag-input__text-input{
    height:28px!important;
}
